/* Body */
body
{
    margin: auto;
    max-width: 1080px;
}
/* Header */
header
{
    margin-top: 37px;
}
.flexheader
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu
{
    display: flex;
    justify-content: space-between;
}
ul
{
    list-style: none;
}
li
{
    float: left;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.navlink a
{
    text-decoration: none;   
    color: black;
    padding-left: 25px;   
    padding-right: 25px;
}
.navlink a:visited
{
    color: black;
}
.navlink a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;   
}
.inscription a
{
    color: #0065FC;
    text-decoration: none;  
    padding-left: 25px;   
    padding-right: 25px; 
    font-weight: bold;
}
/*Main*/
h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}
p
{
    font-family: 'Raleway', sans-serif;
}
.search
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    border:#F2F2F2 1px;
    border-radius: 10px;
    background-color: #F2F2F2;
}
.icon
{
    justify-content: center;
    height: 50px;
    width: 50px;
}
.champ
{
    height: 50px;
}
