/* Body */
body
{
    margin: auto;
    max-width: 1024px;
}
/* Header */
.flexheader
{
    display: flex;
    justify-content: space-between;
}
nav
{
    margin-top: 40px
}
ul
{
    list-style: none;
}
li
{
    float: left;
    padding-left: 40px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;    
}
a
{
    text-decoration: none;   
}
li a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;   
}
.inscription
{
    color: #0065FC
}