body
{
    margin: 0;
}
.contenu
{
    margin: auto;
    padding: 0px 20px;
    max-width: 1360px;
    font-family: 'Raleway';
}
/* CONTENU GLOBAL */
ul
{
    list-style: none;
    padding: 0;
}
a
{
    text-decoration: none;
    color: black;
}
li
{
    margin: 0;
}
/* EN-TETE */
.en-tete
{
    display: flex;
    justify-content: space-between;
}
.logo 
{
    padding-top: 30px;
}
.navigation ul
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.navlien a, .inscription a
{
    text-decoration: none;
    color: black;
    padding: 50px 25px;
    display: inline-block;
    border-top: 2px solid #fff;
}
.navlien a:hover, .navlien.active a
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}
.inscription a
{
    color:#0065FC;
    font-weight: bold;
}
/* TITRE */
h1
{
    font-size: 24px;
}
h2
{
    margin: 30px 40px 0px 40px;
}
.titre p
{
    margin-top: 0;
}
/* RECHERCHE */
.recherche
{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 50px;
}
.recherche form
{
    display: flex;
}
.recherche .fas
{
    width: 50px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 16px 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.ChampsRecherche
{
    height: 46px;
    width: 220px;
    border: 1px solid #F2F2F2;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}
input.ChampsRecherche::placeholder {
    color:black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
.submit
{
    width: 123px;
    height: 50px;
    border: none;
    background-color: #0065FC;
    border-end-end-radius: 15px;
    border-start-end-radius: 15px;
    color: white;
    font-size: 16px;
    text-align: center;
}
/* FILTRE */
.Filtre
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.Filtre h3
{
    margin-right: 20px;
}
.CarteFiltre
{
    display: flex;
    align-items: center;
    border: 2px solid #bbbbbb;
    border-width: 2px 2px 2px 0px;
    border-radius: 30px;
    height: 50px;
    margin-right: 20px;
}
.CarteFiltre a
{
    display: block;
}
.IconeFiltre
{
    height: 54px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.IconeFiltre .fas
{
    color:#0065FC;
}
.TexteFiltre
{
    padding-left: 18px;
    padding-right: 28px;
    font-weight: bold;
    font-size: 18px;
}
/* PLUS DE 500 LOGEMENTS */
.Logement
{
    display: flex;
    margin: 20px 0px;
}
.LogementIcone
{
    margin-top: 12px;
    margin-left: 10px
}
.Logement i
{
    color: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    padding: 7px 12px;
    font-size: 13px;
    margin-right: 10px;
}
.LogementTexte
{
    padding: 0;
}
/* CONTENU */
.BlocsContenu
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
/* HEBERGEMENT */
.BlocHebergement
{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 30px;
}
.AfficherPlus
{
    padding-bottom: 40px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}
.GrilleHebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    padding: 20px 20px 10px 20px;
}
.BlocHebergement img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.ContenantImage
{
    height: 120px;
    padding: 6px;
    object-fit:cover;
}
.CarteHebergement
{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 30px;
    flex: 1 1 240px;
    box-shadow: 0 0 16px #0000002e;
}
.ResumeHebergement
{
    margin: 6px;
    padding-left: 10px;
}
.ResumeHebergement h4
{
    margin: 0;
}
.ResumeHebergement p
{
    margin: 0;
}
/* POPULAIRE */
.BlocPopulaire
{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 25px;
}
.BlocPopulaire h2
{
    display: flex;
    justify-content: space-between;
}
.BlocPopulaire h4
{
    margin: 0;
}
.BlocPopulaire img
{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    display: block;
}
.BlocPopulaire a
{
    display: flex;
}
.GrillePopulaire
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 20px 40px;
}
.ContenantPopulaireImage
{
    padding: 6px;
    object-fit: cover;
}
.CartePopulaire
{
    background-color: white;
    border-radius: 25px;
    width: 31%;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 20px;
}
.ResumePopulaire
{
    width: 69%;
    margin: 6px 0px;
    padding-left: 10px;
}
/* ACTIVITES */
.GrilleActivite
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}
.BlocActivite img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.BlocActivite h4
{
    padding: 10px 10px;
}
.ActiviteBloc
{
    display: flex;
    flex-direction:row;
    column-gap: 20px;
    width: 100%;
}
.ActiviteColonne
{
    display: flex;
    flex-direction: column;
    width: 49%;
}
.ContenantActiviteImage
{
    padding: 6px;
    object-fit:cover;
}
.CarteActivite
{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.ResumeActivite
{
    margin: 6px;
    padding-left: 10px;
}
.ResumeActivite h4
{
    margin: 0;
}
.ContenantActiviteImage
{
    height: 190px;
}
/* FOOTER */
footer
{
    background-color: #F2F2F2;
    margin: 0;
}
.BlocFooter
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}
.ColonneFooter
{
    width: 30%;
}