.blocs-contenu
{
    display: flex;
    flex-direction: column-reverse;
}
.bloc-hebergement
{
    width: 100%;
}
.bloc-populaire
{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.contenant-activite-image
{
    height: 180px;
}
.grille-activite
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.double-colonne-activite
{
    flex-direction: column;
    width: 48%;
}
.colonne-activite
{
    width: 100%;
}
.carte-activite
{
    margin-bottom: 20px;
}
.carte-activite-margin-top
{
    margin-top: 0px;
}