.blocs-contenu
{
    display: flex;
    flex-direction: column-reverse;
}
.bloc-hebergement
{
    width: 100%;
}
.bloc-populaire
{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.contenant-activite-image
{
    height: 180px;
}
.colonne-activite
{
}