.contenu    
{
    padding: 0;
}
/* HEADER */
.en-tete
{
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 42px;
}
.grid-logo
{
    grid-column: 1;
    grid-row: 1;
}
.logo 
{
    padding-top: 30px;
    padding-left: 20px;
}
.grid-navigation
{
    grid-column: 1 / span 2;
    grid-row: 2;
    border-bottom: 3px solid #F2F2F2;
}
.grid-inscription
{
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}
.navlien a:hover, .navlien.active a
{
    color: #0065FC;
    border-bottom: solid 3px #0065FC;
    border-top: none;
}
.navlien
{
    width: 50%;
    text-align: center;
    display: grid;
}
.inscription a
{
    border-top: none;
    padding-left: 20px;
}
.navlien a
{
    padding: 10px 35px;
    border-top: none;
}
.navigation ul 
{
    justify-content: space-between;
}
/* TITRE */
.titre
{
    padding: 20px;
}
/* RECHERCHE */
.recherche 
{
    width: 95%;
    padding: 0 15px;
}
.champs-recherche
{
    width: 58%;
}
form
{
   width: 100%;
}
.soumettre
{
    margin: 0;
    padding: 0;
    border-radius: 0 15px 15px 0;
}
.soumettre-texte
{
    display: none;
}
.soumettre .fas
{
    display: block;
}
/* FILTRE */
.filtre
{
    padding: 0 15px;
}
/* PLUS DE 500 LOGEMENTS */
.logement
{
    padding: 0 15px;
}
/* HEBERGEMENT */
.bloc-hebergement
{
    background-color: white;
}
.bloc-hebergement h2
{
    margin-top: 10px;
    margin-left: 20px;
}
.grille-hebergement
{
    padding: 20px 20px 0 20px;
}
.afficher-plus 
{
    padding: 10px 20px;
}
/* POPULAIRE */
.bloc-populaire
{
    border-radius: 0;
}
.grille-populaire
{
    padding: 20px;
}
/* ACTIVITE */
.bloc-activite
{
    margin: 0 20px 20px 20px;
}
.contenant-activite-image 
{
    height: 140px;
}
.double-colonne-activite
{
    flex-direction: column;
    width: 100%;
}
/* FOOTER */
.bloc-footer
{
    flex-direction: column;
    padding-left: 20px;
}
.colonne-footer
{
    width: 100%;
    padding-right: 0px;
}