/* CONTENU PRINCIPAL (HEADER + MAIN) */
.contenu
{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    font-family: 'Raleway';
}
/* HEADER */
.en-tete
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.en-tete ul
{
    list-style: none;
    display: flex;
}
.en-tete li
{
    padding-left: 50px;
}
.en-tete a
{
    text-decoration: none;
    color: black;
}
.lien-hebergement
{
    color: blue;
    border-top: solid 2px blue;
}
/* TITRE */
h1
{
    font-size: 20px;
    margin-top: 40px;
}
.titre p
{
    line-height: 50%;
}
/* RECHERCHE */
.recherche
{
    margin-top: 40px;
}
/* ANNONCES */
.annonces
{
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: red;
}
.hebergements
{
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
figure
{
    margin: 0;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}
.hebergements img
{
    height: 120px;
    object-fit: cover;
    min-width: 250px;
    padding: 6px;
}
.bloc-hebergement
{
    background-color: white;
    border-radius: 25px;
}
/* FOOTER */
footer
{
    background-color: #F2F2F2;
}
.contenu-footer
{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    max-width: 1280px;
    font-family: 'Raleway';
    display: flex;
}
.contenu-footer ul
{
    list-style: none;
    text-align: left;
}
.contenu-footer a
{
    text-decoration: none;
    line-height: 200%;
    color: black;
    font-family: 'Raleway';
}
.colonne-footer
{
    width: 34%
}
.colonne-footer h4
{
    font-size: 16px;
}