body
{
    margin: 0;
}
.contenu
{
    margin: auto;
    padding: 0px 20px;
    max-width: 1340px;
    font-family: 'Raleway';
}
/* CONTENU GLOBAL */
h2
{
    font-size: 24px;
}
ul
{
    list-style: none;
    padding: 0;
}
a
{
    text-decoration: none;
    color: black;
}
li
{
    margin: 0;
}
.etoile-positif
{
    color: #0065FC;
}
.etoile-negatif
{
    color: #d9d9d9;
}
/* EN-TETE */
.en-tete
{
    display: flex;
    justify-content: space-between;
}
.logo 
{
    padding-top: 45px;
}
.navigation ul
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.navlien a, .inscription a
{
    text-decoration: none;
    color: black;
    padding: 46px 35px;
    display: inline-block;
    border-top: 2px solid #fff;
}
.navlien a:hover, .navlien.active a
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}
.inscription a
{
    color:#0065FC;
    font-weight: bold;
}
/* TITRE */
h1
{
    font-size: 21px;
    margin-bottom: 10px;
}
h2
{
    font-size: 22px;
    margin: 40px 40px 0px 40px;
}
.titre p
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}
/* RECHERCHE */
.recherche
{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 50px;
}
.recherche form
{
    display: flex;
}
.recherche .fas
{
    width: 50px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 16px 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.champs-recherche
{
    height: 46px;
    width: 220px;
    border: 1px solid #F2F2F2;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}
input.champs-recherche::placeholder {
    color:black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

.soumettre
{
    border: none;
    height: 50px;
    padding: 0 15px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 18px;
    text-align: center;
}
.soumettre .fas
{
    display: none;
    background-color: #0065FC;
    font-size: 18px;
    padding: 0;
    border-radius: 15px;
}
/* FILTRE */
.filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.filtre h3
{
    margin-right: 30px;
}
.carte-filtre
{
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-width: 2px 2px 2px 0px;
    border-radius: 30px;
    height: 44px;
    margin-right: 20px;
    margin-top: 10px;
}
.carte-filtre a
{
    display: block;
}
.icone-filtre
{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.icone-filtre .fas
{
    color:#0065FC;
}
.texte-filtre
{
    padding-left: 15px;
    padding-right: 25px;
    font-weight: bold;
    font-size: 18px;
}
/* PLUS DE 500 LOGEMENTS */
.logement
{
    display: flex;
    margin: 20px 0px;
}
.logement-icone
{
    margin-top: 12px;
}
.logement i
{
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    padding: 7px 12px;
    font-size: 13px;
    margin-right: 10px;
}
.logement-texte
{
    padding: 0;
}
/* CONTENU */
.blocs-contenu
{
    display: flex;
    justify-content: space-between;
}
/* HEBERGEMENT */
.bloc-hebergement
{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 30px;
}
.afficher-plus
{
    padding-bottom: 40px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}
.grille-hebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    padding: 20px 40px 10px 40px;
}
.bloc-hebergement img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.contenant-hebergement-image
{
    height: 120px;
    padding: 5px;
    object-fit:cover;
}
.carte-hebergement
{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    flex: 1 1 250px;
    box-shadow: 0 0 16px #0000002e;
}
.resume-hebergement
{
    margin: 2px 6px 6px 6px;
    padding-left: 10px;
    padding-bottom: 3px;
}
.resume-hebergement h4
{
    margin: 0;
}
.resume-hebergement p
{
    margin: 0;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 8px;
}
.etoile-hebergement
{
    font-size: 12px;
}
/* POPULAIRE */
.bloc-populaire
{
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.bloc-populaire h2
{
    display: flex;
    justify-content: space-between;
}
.bloc-populaire h4
{
    margin: 0;
}
.bloc-populaire img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    display: block;
}
.bloc-populaire a
{
    display: flex;
}
.grille-populaire
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.contenant-populaire-image
{
    padding: 5px;
    width: 50%;
    max-width: 400px
}
.carte-populaire
{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 20px;
}
.resume-populaire
{
    width: 69%;
    margin: 6px 0px;
    padding: 15px 30px 0px 15px;
    position:relative;
}
.resume-populaire p
{
    font-size: 14px;
}
.etoile-populaire
{
    font-size: 12px;
    position:absolute;
    bottom:0;
    padding-bottom: 10px;
}
/* ACTIVITES */
.grille-activite
{
    width: 100%;
    display: flex;
    column-gap: 40px;
}
.colonne-activite
{
    width: 24%;
}
.bloc-activite
{
    margin-bottom: 40px;
    margin-top: 50px;
}
.bloc-activite img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.bloc-activite h2
{
    margin-left: 0;
    padding-bottom: 25px;
}
.bloc-activite h4
{
    padding: 10px 10px;
}
.contenant-activite-image
{
    display: flex;
}
.carte-activite
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
}
.carte-activite-margin-top
{
    margin-top: 38px;
}
.resume-activite
{
    margin: 6px;
    padding-left: 10px;
}
.resume-activite h4
{
    margin: 0;
}
.Activite1
{
    height: 383px;
}
.Activite2
{
    height: 180px;
}
.Activite3
{
    height: 120px;
}
.Activite4
{
    height: 383px;
}
.Activite5
{
    height: 150px;
}
.Activite6
{
    height: 150px;
}
/* FOOTER */
footer
{
    background-color: #F2F2F2;
    margin: 0;
}
footer li
{
    padding-bottom: 8px;
}
.bloc-footer
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}
.colonne-footer
{
    width: 30%;
}